@font-face {
  font-family: 'Penakut';
  src: url('Penakut.svg#Penakut') format('svg'),
       url('Penakut.ttf') format('truetype'),
       url('Penakut.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'penakut';
  src: url('penakut.eot');
  src: url('penakut.eot?#iefix') format('embedded-opentype'),
       url('penakut.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

