/* Add your custom fonts here */
@font-face {
  font-family: 'penakut';
  src: url('../fonts/penakut.eot');
  src: url('../fonts/penakut.eot?#iefix') format('embedded-opentype'),
  url('../fonts/penakut.svg#penakut') format('svg'),
  url('../fonts/penakut.ttf') format('truetype'),
  url('../fonts/penakut.woff') format('woff'),
  url('../fonts/penakut.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
