@use "index" as ind;

html {
  font-size: 16px;
  @include ind.breakpoints-max(md) {
    font-size: 14px;
  }
}

@each $key, $val in ind.$colors-list {
  $col: null;
  @if (($key == green) or ($key == orange)) {
    $col: ind.$white;
  }
  .bg--#{"" + $key} {
    background-color: $val !important;
    color: $col !important;
  }
  .text--#{"" + $key} {
    color: $val !important;
  }
}

h1 {
  font-family: ind.$font-incubus;
}

h2 {
  font-family: ind.$font-incubus;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

h3 {
  @include ind.font-poppins(r);
  font-size: 1.3rem;
}

h4 {
}

p {
  font-size: 1rem;
}

ul, ol {
  li {
    ul, ol {
    }
  }
}

body {
  font-family: ind.$font-poppins;
  color: ind.$white;
  overflow-x: hidden;
  @include ind.nav-height;
}

a {
    &:hover {
        color: inherit;
    }
}

// No Scroll
.no-scroll {
  overflow: hidden;
}

.nav-next-section {
  @include ind.nav-height;
}

.section-padding-y {
  padding: 100px 0;

  @include ind.breakpoints-max(md) {
    padding: 50px 0;
  }
}

.rupees {
  fill: ind.$white;
  path {
    fill: ind.$white;
  }
}

.btn {
  @include ind.font-poppins(b);
  font-size: 1rem;
  display: inline-block;
  box-shadow: none;
  color: ind.$red;
  padding: .8em 2em;

  &:focus {
    box-shadow: none;
  }

  &-box {
    border: 1px solid ind.$red;
    border-radius: 0;
    background-color: ind.$dark-grey;

    &--small {
      font-size: .8em;
    }

    &:hover {
      background-color: ind.$red;
      color: ind.$white;
    }

  }
}

.big-header {
  font-family: ind.$font-incubus;
  font-size: 5rem;
  @include ind.breakpoints-max(md) {
    font-size: 4rem;
  }
}

.small-header {
  font-family: ind.$font-incubus;
  font-size: 2.5rem;
  @include ind.breakpoints-max(md) {
    font-size: 1.8rem;
  }
}

.owl-carousel {

  .item {
    img {
      width: auto;
      max-width: 100%;
    }
  }
  .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 25px;
    text-align: center;
    .owl-dot {
      margin: 0 3px;
      span {
        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: ind.$light-grey;
        border-radius: 15px;
      }

      &.active {
        span {
          background-color: ind.$white;
        }
      }
    }
  }

  .owl-nav {
    position: absolute;
    top: 50%;
    right: -5%;
    left: -5%;
    transform: translateY(-50%);

    height: 32px;

    [class^=owl-] {
      position: absolute;

      span {
        font-size: 60px;
        line-height: 0;
      }

      &.disabled {
        span, i {
          opacity: .2;
        }
      }


      [class^="icon-"], [class*=" icon-"] {
        font-size: 2rem;
      }
    }

    .owl-prev {
      left: 0;
    }

    .owl-next {
      right: 0;
    }
  }
}
