
// Font penakut Regular
$font-penakut: 'penakut', sans-serif;
$font-incubus: 'Incubus', sans-serif;

// Font Poppins - Light, Regular, Medium & Bold
$font-poppins: 'Poppins', sans-serif;

// Font iconmoon
$font-icomoon: 'icomoon';

// primary colors
$black: #000000;
$white: #ffffff;
$red: #ce252f;
$menu-grey: #292929;
$dark-grey: #212121;
$light-grey: #808080;

$colors-list: (
  white: #fff,
  black: #000,
  menu-grey: #292929,
  dark-grey: #212121,
  light-grey: #808080,
  red: #d61818
);

$font-weight: (
  l: 300,
  light: 300,
  r: 400,
  regular: 400,
  m: 500,
  medium: 500,
  b: 600,
  bold: 600
);

// Grid Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 575px,
  md: 767px,
  lg: 991px,
  xl: 1199px,
  xlm: 1399px,
  xxl: 2499px
);
