@use "../index" as i;

.footer {
  position: relative;
  background-color: i.$dark-grey;
  padding: 50px 0;
  z-index: 10;
  h2 {
    font-family: i.$font-incubus;
    font-size: 2rem;
    color: i.$red;
  }

  .social {
    text-align: center;
    margin-top: 50px;
    li {
      display: inline-block;
      margin: 0 10px;
    }
  }

  span {
    display: block;
    text-align: center;
    font-size: .8rem;
  }
}
